@use 'sass:color';

$base-dark: #211F16;
$base-light: #FAFAFA;
$base-brand: #DC2F11;

$change: 10%;

:root {
  --Brand-01: #{$base-brand};
  --primary-light: #{$base-light};
  --primary-light-100: #{darken($base-light, $change)};
  --primary-light-200: #{darken($base-light, $change * 2)};
  --primary-light-300: #{darken($base-light, $change * 3)};
  --primary-light-400: #{darken($base-light, $change * 4)};
  --primary-dark: #{$base-dark};
  --primary-dark-100: #{lighten($base-dark, $change)};
  --primary-dark-200: #{lighten($base-dark, $change * 2)};
  --primary-dark-300: #{lighten($base-dark, $change * 3)};
  --primary-dark-400: #{lighten($base-dark, $change * 4)};
}

#background {
  background: $base-light;
}

.text-base-color {
  color: #111111
}

.label-text-base-brand,
.text-base-brand,
a.text-base-brand {

  cursor: pointer;
  color: $base-brand;
  transition: color ease-in-out 0.2s;

  &:hover {
    color: #{lighten($base-brand, $change * 2)};
  }
}

.col-span-3 {
  grid-column: span 3 / span 3;
}